---
layout: base.njk
title: Text
dil: en
karsi: /metin/
permalink: /en/text/
---
{% set dil = dil or "tr" %}{% set t = i18n[dil] %}
<article class="uzun">
  <h1 class="sayfa-baslik">{{ metin.baslik_en if (dil == "en" and metin.baslik_en) else metin.baslik }}</h1>
  {% set ab = metin.alt_baslik_en if (dil == "en" and metin.alt_baslik_en) else metin.alt_baslik %}{% if ab %}<p class="alt-baslik">{{ ab }}</p>{% endif %}
  <div class="kaydir metin" tabindex="0">
    {{ (metin.govde_en if (dil == "en" and metin.govde_en) else metin.govde) | paragraflar | safe }}
  </div>
</article>
