---
layout: base.njk
title: Metin
---
<article class="uzun">
  <h1 class="sayfa-baslik">{{ metin.baslik }}</h1>
  {% if metin.alt_baslik %}<p class="alt-baslik">{{ metin.alt_baslik }}</p>{% endif %}
  <div class="kaydir metin" tabindex="0">
    {{ metin.govde | ilkParagraf | paragraflar | safe }}
    <details><summary>Devamını oku</summary>{{ metin.govde | kalanParagraflar | paragraflar | safe }}</details>
  </div>
</article>
